/* 
File name: app.css
Author's name: Awen Xu
Website: Mini portfolio
File description: This is the stylesheet for all three pages of the mini portfolio.

Custom CSS goes here 
*/
.contentPlacement{
    padding: 1em;
}
#bodyBackground{
	background-image: url('../Assets/images/city.png');
    background-repeat: repeat;
    background-size:  cover;
}
.pictureScaling{
    width: 100%;
    height: auto;
}
hr{
    color: #000000;
    margin: 1em;
    border-width: 0.2em;
}
