<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="./Assets/images/logo.png" width="50" height="50" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../index.html">
                    <i class="fa fa-home fa-lg"></i> Home </a>
            </li>
            <li class="nav-item active" id="COMP125 - a03 - Bio">
                <a class="nav-link" href="./a03_index.html">
                    <i class="fa fa-user-circle fa-lg"></i> Bio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" id="COMP125 - a03 - Projects">
                <a class="nav-link" href="./projects.html">
                    <i class="fa fa-code fa-lg"></i> Projects </a>
            </li>
            <li class="nav-item" id="COMP125 - a03 - Contact">
                <a class="nav-link" href="./contact.html">
                    <i class="fa fa-comments fa-lg"></i> Contact </a>
            </li>
        </ul>
    </div>
</nav>